<div class="container">
  <div class="py-5 px-3">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-3 border border-info">
        <!-- UP -->
        <div class="row">
          <div
            class="col-4 wh5 border border-dark"
            *ngFor="let pc of cube.up | keyvalue; let i = index"
            [ngStyle]="{ backgroundColor: pc.value }"
          ></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3 border border-info">
        <!-- LEFT -->
        <div class="row">
          <div
            class="col-4 wh5 border border-dark"
            *ngFor="let pc of cube.left | keyvalue; let i = index"
            [ngStyle]="{ backgroundColor: pc.value }"
          ></div>
        </div>
      </div>

      <div class="col-3 border border-info">
        <!-- FW -->
        <div class="row">
          <div
            class="col-4 wh5 border border-dark"
            *ngFor="let pc of cube.fw | keyvalue; let i = index"
            [ngStyle]="{ backgroundColor: pc.value }"
          ></div>
        </div>
      </div>

      <div class="col-3 border border-info">
        <!-- RIGHT-->
        <div class="row">
          <div
            class="col-4 wh5 border border-dark"
            *ngFor="let pc of cube.right | keyvalue; let i = index"
            [ngStyle]="{ backgroundColor: pc.value }"
          ></div>
        </div>
      </div>

      <div class="col-3 border border-info">
        <!-- BACK -->
        <div class="row">
          <div
            class="col-4 wh5 border border-dark"
            *ngFor="let pc of cube.back | keyvalue; let i = index"
            [ngStyle]="{ backgroundColor: pc.value }"
          ></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3"></div>

      <div class="col-3 border border-info">
        <!-- DOWN -->
        <div class="row">
          <div
            class="col-4 wh5 border border-dark"
            *ngFor="let pc of cube.down | keyvalue; let i = index"
            [ngStyle]="{ backgroundColor: pc.value }"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
